@import '../../shared.scss';
.cta-component {
  width: 100%;
  height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: $tertiary-color;
  color: $secondary-color;
  font-family: $primary-font;
}
