@import url(https://fonts.googleapis.com/css2?family=Nunito:wght@300;400;700&display=swap);

/* Create SASS variables */
$primary-color: #2f3640;
$secondary-color: #f7f1e3;
$tertiary-color: #ff5252;

$primary-font: 'Nunito', sans-serif;
